body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #333;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #1d72b8;
}

a:hover {
  color: #166fa3;
}

header, section {
  padding: 40px;
  text-align: center;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #1d72b8;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.cta-btn:hover {
  background-color: #166fa3;
}

.features, .feature-item, .feature-detail, .pro-details, .contact {
  margin: 20px;
}

#navbar, #footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

footer p {
  font-size: 14px;
  color: #777;
}

input, textarea {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
